@font-face {
  font-family: 'PricedownRegular';
  src: url("http://elcamino-assets.thenathanjones.com/fonts/pricedow-webfont.eot");
  src: url("http://elcamino-assets.thenathanjones.com/fonts/pricedow-webfont.eot?#iefix") format("embedded-opentype"), url("http://elcamino-assets.thenathanjones.com/fonts/pricedow-webfont.woff") format("woff"), url("http://elcamino-assets.thenathanjones.com/fonts/pricedow-webfont.ttf") format("truetype"), url("http://elcamino-assets.thenathanjones.com/fonts/pricedow-webfont.svg#PricedownRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

