@section scripts {
    
}
<div class="title-row row-fluid">
    <h1> el camino</h1>
</div>

<div class="badges row-fluid">
    <a class="android-badge" href="https://play.google.com/store/apps/details?id=com.warconcepts.elcamino">
        <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
    </a>
    <a class="ios-badge" href="#">
        <img alt="Available on the App Store" src="http://elcamino-assets.thenathanjones.com/images/appstore.png"/>
    </a>
</div>

<div class="num-routes row-fluid">
    @ViewBag.NumRoutes great drives and counting... 
</div>